server:
  port: 8090

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: ${ALLOWED_ORIGINS}
            allowed-methods: GET,POST,PUT,DELETE,OPTIONS
            allowed-headers: "*"
            allow-credentials: false
            max-age: 3600

      routes:
        - id: user-service
          uri: lb://USERSERVICE
          predicates:
            - Path=/api/users/**

        - id: auth-service
          uri: lb://USERSERVICE
          predicates:
            - Path=/auth/**

        - id: task-service
          uri: lb://TASKSERVICE
          predicates:
            - Path=/api/tasks/**

jwt:
  secret: ${JWT_SECRET}
  issuer: ${JWT_ISSUER}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    org.springframework.cloud.gateway: INFO
    com.mit.tasksphere: INFO

resilience4j:
  circuitbreaker:
    instances:
      defaultCircuitBreaker:
        sliding-window-size: 10
        minimum-number-of-calls: 5
        failure-rate-threshold: 50
        wait-duration-in-open-state: 30s
